<?xml version='1.0' encoding='utf-8'?>
<plugin id="me.mazlum.agoracall" version="0.1.0"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>AgoraCall</name>
  <js-module name="AgoraCall" src="www/AgoraCall.js">
    <clobbers target="cordova.plugins.AgoraCall" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="AgoraCall">
        <param name="android-package" value="me.mazlum.agoracall.AgoraCall" />
      </feature>
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/AgoraCall.java" target-dir="src/me/mazlum/agoracall" />
    <source-file src="src/android/FakeR.java" target-dir="src/me/mazlum/agoracall" />

    <resource-file src="src/android/res/layout/activity_video_chat_view.xml" target="res/layout/activity_video_chat_view.xml" />

    <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
    <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />

    <resource-file src="src/android/res/drawable/btn_endcall.xml" target="res/drawable/btn_endcall.xml" />
    <resource-file src="src/android/res/drawable/btn_mute.xml" target="res/drawable/btn_mute.xml" />
    <resource-file src="src/android/res/drawable/btn_switch_camera.xml" target="res/drawable/btn_switch_camera.xml" />
    <resource-file src="src/android/res/drawable/btn_unmute.xml" target="res/drawable/btn_unmute.xml" />

    <resource-file src="src/android/res/drawable-xxhdpi/btn_endcall_normal.png" target="res/drawable-xxhdpi/btn_endcall_normal.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/btn_endcall_pressed.png" target="res/drawable-xxhdpi/btn_endcall_pressed.png" />

    <resource-file src="src/android/res/drawable-xxhdpi/btn_mute_normal.png" target="res/drawable-xxhdpi/btn_mute_normal.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/btn_mute_pressed.png" target="res/drawable-xxhdpi/btn_mute_pressed.png" />

    <resource-file src="src/android/res/drawable-xxhdpi/btn_switch_camera_normal.png" target="res/drawable-xxhdpi/btn_switch_camera_normal.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/btn_switch_camera_pressed.png" target="res/drawable-xxhdpi/btn_switch_camera_pressed.png" />

    <resource-file src="src/android/res/drawable-xxhdpi/btn_unmute_normal.png" target="res/drawable-xxhdpi/btn_unmute_normal.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/btn_unmute_pressed.png" target="res/drawable-xxhdpi/btn_unmute_pressed.png" />

    <framework src="io.agora.rtc:full-sdk:3.3.2" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="AgoraCall">
        <param name="ios-package" value="AgoraCall" />
      </feature>
    </config-file>
    <source-file src="src/ios/AgoraCall.m" />
    <framework src="AgoraAudio_iOS" type="podspec" spec="3.3.0" />
  </platform>
</plugin>
